body {
	padding-top : 60px;
	background-color: lightgray;
}

div.container { /*전체 영역*/
	max-width : 700px;
	max-height : 1600px;
	margin : auto;
	border : 1px solid gray;
	padding-bottom : 30px;
	border-radius : 8px;
	box-shadow: 4px 4px 5px 0px gray;
	background-color : white;
}

div.log_in_letter1{ /*맨 위 제일 큰 로그인 글자*/
	padding : 30px 0px 0px 20px;
	font-size : 50px;
	color : rgb(118, 119, 133);
	text-align: center;
}

div.log_in_letter2{ /*맨 위 제일 큰 로그인 글자*/
	padding : 10px 0px 0px 20px;
	font-size : 19px;
	color : #9596A2;
	text-align: center;
}

div.sign_in_id { /*ID  문자*/
	color: gray;
	font-size : 20px;
	padding-bottom : 5px;
	padding-left : 50px;
}

div.sign_in_pw { /*PASSWORD 문자*/
	color : gray;
	font-size: 20px;
	margin-top : 10px;
	padding-bottom : 5px;
	padding-left : 50px;
}

/*ID와 PW입력이 담긴 상자 공간 여백*/
.body { 
	margin-top : 70px;
	margin-bottom : 40px;
	margin-left : 10%;
	margin-right : 10%;	
}

.input_id {
	display : flex;
	align-items : center;
	padding-left : 25px;
	
}
.input_pw {
	display : flex;
	align-items : center;
	padding-left : 50px;
}

	/*footer 하단 하이퍼링크 설정*/
a { 
	text-decoration-line: none;
	color : gray;
}

a:hover {
	text-decoration-line: underline;
}

input[type=text], input[type=password] {
	border-width : 0 0 1px;
	width : 450px;
	height : 70px;
	border-radius : 7px;
	font-size : 20px;
}

input[type=text]:focus, input[type=password]:focus{
	outline : 1px solid rgb(175, 175, 175);
	transition: 0.3s;
}

input[type=submit] {
	width : 300px;
	height : 50px;
	border-radius : 7px;
	font-size : 25px;
	color : white;
	background-color : rgb(206, 176, 238);
	border-width : 0px 0px 1px;
	border : 1px solid gray;
	box-shadow : 3px 3px 2px rgb(185, 143, 231);;
}

input[type=submit]:hover {
	background-color: rgb(167, 116, 224);
}

input[type=submit]:focus {
	box-shadow : 2px 2px 2px 4px rgb(155, 97, 220) inset;
}

footer {
	padding : 20px;
	text-align : center;
}

/*외부 로그인 버튼이 들어있는 공간 크기*/
div.other_login {
	width : 400px;
	margin : auto;
}

/*외부 로그인 각 버튼 설정*/
div.other_login input {
	width : 100%;
	height : 60px;
	border-radius : 30px;
	border : 1px solid black;
	font-size : 20px;
	font-weight : bold;
	margin-bottom : 10px;
}

/*외부 로그인 - 네이버 채우기*/
div.other_login input.naver {
	color : white;
	background-image : url("pic/btnG_아이콘원형.png") ;
	background-size : contain;
	background-repeat: no-repeat;
	background-color : #03C75A;
}

/*외부 로그인 - 구글 채우기*/
div.other_login input.google {
	color : black;
	background-image : url("pic/스프레드-시트-48.png") ;
	background-size : contain;
	background-repeat: no-repeat;
}

/*외부 로그인 클릭 시 설정 - 네이버*/
div.other_login input.naver:focus {
	border : 2px solid #03C75A;
}

/*외부 로그인 클릭 시 설정 - 구글*/
div.other_login input.google:focus {
	border : 1px solid gray;
}

/*외부 로그인 버튼 위에 커서 올렸을 시*/
div.other_login input:hover {
	cursor : pointer;
	font-size : 21px;
}
