.all{
    margin: auto;
    padding: 50px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 600px;
    margin-bottom: 50px;
}

th, td{
    border: 1px solid black;
    padding: 15px;
}

.pay_buttons button{
    border: none;
    background-color: transparent;
}

.button_table{
    margin-top: 50px;
    text-align: center;
}

.button_table td{
    border: 2px solid black;
}

.pay_buttons button:hover{
    cursor: pointer;
}