.all{
    margin: auto;
    padding: 50px;
    padding: 50px 350px 50px 350px;
}

.line{
    border-top: 1px solid black;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 600px;
    margin-bottom: 50px;
}

th, td{
    border: 1px solid black;
    padding: 15px;
}

#date{
    width: 150px;
    height: 25px;
}

.pay_buttons button{
    border: none;
    background-color: transparent;
}

.button_table{
    margin-top: 50px;
    text-align: center;
}

.button_table td{
    border: 2px solid black;
}

.pay_buttons button:hover{
    cursor: pointer;
}

.float{
    position: fixed; 
    right: 70%; 
    top: 180px; 
    margin-right: -600px;
    text-align:center;
    width: 120px;
}

.float table{
    width: 400px;
    height: 300px;
}