.all{
    margin: auto;
    /*padding: 50px 350px 50px 350px;*/
    width: 1280px;
}

button:hover{
    cursor: pointer;
    background-color: #00457e;
}

.line{
    border-top: 1px solid black;
}


.container{
    padding: 10px;

}

.container_table{
	margin: auto;
    border-spacing: 45px 0px;
}

.category_time{
    padding: 10px;
    width: 200px;
    height: 150px;
    margin-left:10px;
    margin-right: 10px;
    border: 1px solid #00457e;
    border-radius: 5px;
    margin: auto;
    background: linear-gradient(#00457e 25%, #fff 25%);
    text-align: left;

}

.category_title{
    margin-left: 5px;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 00;
    color: aliceblue;
}

.WT_table{
    border-spacing: 30px 20px;
    margin: auto;
}

.WT_table_box{
    border: 1px solid #00457e;
    border-radius: 5%;
    width: 275px;
    height: 250px;
}

.thumb{
    width: 275px;
    height: 150px;
    border-bottom: 1px solid #00457e;
}

.WT_table_bottom{
    margin-top: 15px;
}



.wtt{
    text-align: center;
    font-weight: 600;
}

#wt_bot{
    text-align: center;
    margin: 10px;
}

#wt_bot span{
    margin-left: 10px;
}

#wt_bot span button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #a09bff;
    color: aliceblue;
    border: none;
}

#wt_bot span button:hover{
    background-color: #00457e;
}


/*----WT_info-----------------------------------------*/

.info_thumbnail{
    width: 600px;
    height: 400px;
    border: 2px solid black;
}

.info_etc{
	margin-left: 200px;
    width: 600px;
    height: 300px;
}

.info_top{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

}


.info_top>div{
    margin-left: 20px;
    margin-right: 20px;
}

.info_tag{
    color: #008cff;
    font-weight: 700;
    opacity: 80%;
    text-align: left;
}

.info_title{
    font-size: 24pt;
    font-weight: 700;
    text-align: left;
}

.info_table_box{
    margin: auto;
}

.info_table{
	font-size: 14pt;
    text-align: left;
    margin-left: -15px;
    border-spacing: 20px 10px;
}

.info_price{
    font-size: 24pt;
    text-align: right;
}

.info_line{
    border-top: 1px solid rgb(162, 162, 162);
}

.info_select{
    margin-left: 75px;
    text-align: left;
}

.info_select select{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    text-indent: 3%;
}


.into_payment{
    margin: 15px;
    width: 600px;
    height: 50px;
    line-height: 50px;
}

.total{
    margin: 10px;
    font-size: 24px;
    font-weight: 600;
}

.total_buttons{
    vertical-align: center;
    margin-left: 10px;
}

.total_buttons button{
    font-size: 14px;
    font-weight: 900;
    width: 120px;
    height: 35px;
    background-color: #a09bff;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    margin: 5px;
}

.total_buttons button:hover{
    background-color: #00457e;
}


.info_cate{
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.info_cate a{
    text-decoration: none;
}

.info_info{
    margin: 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: #b6b6b6;
}

.info_info>a{
    color: aliceblue;
    font-weight: 600;
}

.info_info:hover{
    background-color: #ff5345;
}



.info_training{
    margin: 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: #b6b6b6;
}

.info_training>a{
    color: aliceblue;
    font-weight: 600;
}

.info_training:hover{
    background-color: #ff5345;
}


.info_box{
    margin-top: 30px;
    text-align: center;
}



#info_info{
    display: inline-block;
    border: 2px solid blue;
    width: 1000px;
    height:800px;
    margin: 10px;
}

#info_training{
    display: inline-block;
    border: 2px solid red;
    width: 1000px;
    height:800px;
    margin: 10px;
}




/*
#float{
    position: fixed; 
    right: 80%; 
    top: 580px; 
    margin-right: -600px;
    text-align:center;
    width: 200px;
}*/

