

div.list{	
	width: 1280px;
	height: 400px;
	margin: auto;/*가운데 정렬*/
	border: 3px solid #c0c0c0;
	}
tr.view{
	color: navy;
}

.view>#number{
	width: 13%;
}

.view>#category{
	width: 15%;
}
.view>#title{
	width: 30%;
}

.view>#writer{
	width: 13%;
}

.view>#date{
	width: 15%;
}

.view>#state{
	width: 10%;
}

table.list_tbl{	
	width: 1280px;
	height: 400px;
	margin: auto;/*가운데 정렬*/
	border: 3px solid #c0c0c0;
	}
.number1>#num{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.number1>#cate{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
}

.number1>#tit{
	width: 30%;
	text-align: center;
	font-weight: bold;
}

.number1>#wt{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.number1>#dt{
	width: 15%;
	text-align: center;
	font-weight: bold;
}

.number1>#st{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    color: #4caf50;
    background-color: white;
   /* border-radius: 20px;
    border: 1px solid #4caf50;*/
}
.bordergreen{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
	
}

.category1>#num2{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.category1>#cate2{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
}

.category1>#tit2{
	width: 30%;
	text-align: center;
	font-weight: bold;
}

.category1>#wt2{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.category1>#dt2{
	width: 15%;
	text-align: center;
	font-weight: bold;
}

.category1>#st2{
	width: 10%;
	text-align: center;
    height: 38px;
    color: #bdbdbd;

}

.bordergrey{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #bdbdbd;
}

.title1>#num3{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.title1>#cate3{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
}

.title1>#tit3{
	width: 30%;
	text-align: center;
	font-weight: bold;
}

.title1>#wt3{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.title1>#dt3{
	width: 15%;
	text-align: center;
	font-weight: bold;
}

.title1>#st3{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    border-radius: 20px;
    background-color: white;
    color: #4caf50;
    

}

.bordergreen2{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
}

.writer1>#num4{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.writer1>#cate4{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
}

.writer1>#tit4{
	width: 30%;
	text-align: center;
	font-weight: bold;
}

.writer1>#wt4{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.writer1>#dt4{
	width: 15%;
	text-align: center;
	font-weight: bold;
}

.writer1>#st4{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    border-radius: 20px;
    background-color: white;
    color: #4caf50;

}

.bordergreen3{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
}
.date1>#num5{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.date1>#cate5{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
}

.date1>#tit5{
	width: 30%;
	text-align: center;
	font-weight: bold;
}

.date1>#wt5{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.date1>#dt5{
	width: 15%;
	text-align: center;
	font-weight: bold;
}

.date1>#st5{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    border-radius: 20px;
    background-color: white;
    color: #4caf50;

}

.bordergreen4{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
}

.state1>#num6{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.state1>#cate6{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
}

.state1>#tit6{
	width: 30%;
	text-align: center;
	font-weight: bold;
}

.state1>#wt6{
	width: 13%;
	text-align: center;
	font-weight: bold;
}

.state1>#dt6{
	width: 15%;
	text-align: center;
	font-weight: bold;
}

.state1>#st6{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    border-radius: 20px;
    background-color: white;
    color: #4caf50;
}

.bordergreen5{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
}
.hr{
	width: 1280px;
}

.title{
	text-align: center;
}

#w_btn{
	margin-left: 1230px;
	margin-top: 5px;
	border-radius: 20px;
	
	
	
}