*{
	margin: 0;
	padding: 0;
}

#blist_view{
	margin: auto;
	width: 1280px;
}

.top_title{
	text-align: left;
	display: block;
	top: 5px;
	position: relative;
	color: #333;
	line-height: 30px;
	font-weight: bold;
}

.top_text{
	text-align: left;
	margin-top: 10px;
	font-size: 15px;
	color: gray;
	font-weight: bold;
}

body{
	font-family: '맑은 고딕';
}

.list_tab{
	text-align: center;
	margin-top: 20px;
}

.list_tab > input{
	font-size: 16px;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	border: none;
	color: #fff;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	
}
.book_search{
	text-align: center;
	margin-top: 20px;
}

.book_cate{
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
}

.book_c_A{
	height: 38px;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}

.book_c_1{
	height: 38px;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}

.book_c_2{
	height: 38px;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}

.book_c_3{
	height: 38px;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}

.book_c_4{
	height: 38px;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}

.book_c_5{
	height: 38px;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}
.book_c_6{
	height: 38px;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}
.book_c_7{
	height: 38px;
	background: linear-gradient(325deg, #ff6c64, #ec407a);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}

.btn_change{
	text-align: right;
	margin-top: 20px;
}

.book_search{
	margin: 40px auto;
	max-width: 540px;
	width: calc(100%-20px);
	border: 3px solid #737373;
	border-radius: 100px;
	display: flex;
	align-items: center;
	height: 50px;
	overflow: hidden;
}

.book_search #s_bar{
	outline: none;
	border: 0;
	height: 48px;
	max-width: 500px;
	margin-left: 20px;
	width: calc(100%-20px);
	font-size: large;
}

.d_btn{
	background-color: white;
	border: 0;
	cursor: pointer;
	margin-right: 10px;
}

.s_btn{
	background-color: gray;
	width: 80px;
	height: 50px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}

.left{
	margin-left: 20px;
}

.li_type{
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	cursor: pointer;
	margin: auto;
}

.tn_type{
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	cursor: pointer;
	margin: auto;
}

.book_list{
	width: 420px;
	height: 300px;
	border: 1px solid #888;
	margin: 10px;
}

.book_info{
	width: 380px;
	height: 280px;
	border: 1px solid #888;
	margin: 10px 20px;
}

.book_img{
	margin-top: 15px;
	border: 1px solid red;
	width: 200px;
	height: 250px;
	float: left;
}

.book_info_list{
	margin-left: 10px;
	float: left;
}

.info_title{
	border: 1px solid yellow;
	width: 165px;
	height: 80px;
}

.info_list{
	border: 1px solid green;
	width: 165px;
	height: 195px;
	position: relative;
}
.info_list2{
	position: absolute;
	bottom: 0px;
}
#sub_info{
	list-style-type: none;	
}

#sub_info > li{
	color: #737373;
	font: 14px bolder;
}