*{
	margin: 0;
	padding: 0;
}

#detail_view{
	margin: auto;
	width: 1280px;
}

.top_title{
	text-align: left;
	display: block;
	top: 5px;
	position: relative;
	color: #333;
	line-height: 30px;
	font-weight: bold;
}

.top_text{
	text-align: left;
	margin-top: 10px;
	font-size: 15px;
	color: gray;
	font-weight: bold;
}

body{
	font-family: '맑은 고딕';
}

.list_tab{
	text-align: center;
	margin-top: 20px;
}

.list_tab > input{
	font-size: 16px;
	width: 300px;
	height: 50px;
	border-radius: 20px;
	border: none;
	color: #fff;
	background: linear-gradient(325deg, #ffcd19, #ff5345);
}

.book_search{
	text-align: center;
	margin-top: 20px;
	margin: 40px auto;
	max-width: 540px;
	width: calc(100%-20px);
	border: 3px solid #737373;
	border-radius: 100px;
	display: flex;
	align-items: center;
	height: 50px;
	overflow: hidden;
}

.book_search #s_bar{
	outline: none;
	border: 0;
	height: 48px;
	max-width: 500px;
	margin-left: 20px;
	width: calc(100%-20px);
	font-size: large;
}

.d_btn{
	background-color: white;
	border: 0;
	cursor: pointer;
	margin-right: 10px;
}

.s_btn{
	background-color: gray;
	width: 80px;
	height: 50px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}

.d_btn{
	background-color: white;
	border: 0;
	cursor: pointer;
	margin-right: 10px;
}

.s_btn{
	background-color: gray;
	width: 80px;
	height: 50px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}

.left{
	margin-left: 20px;
}

.bookdetail_box{
	width: 1275px;
	height: 515px;
	border: 1px solid #888;
}

.bd_img{
	width: 400px;
	height: 515px;
	border: 1px solid red;
	float: left;
}

.img_box{
	width: 300px;
	height: 435px;
	border: 1px solid green;
	margin-left: 45px;
	margin-top: 40px;

}

.bd_info{
	width: 870px;
	height: 515px;
	border: 1px solid yellow;
	float: left;
}

.info_box{
	float: left;
	border: 1px solid purple;
	width: 750px;
	height: 450px;
	margin: 30px 60px;
}

.title{
	font-size: 24px;
	font-weight: bolder;
}

.sub_title{
	font: 15px;
	color: #888;
	margin: 20px 0px;
	padding: 0px 0px 20px;
	font-weight: bolder;
}

.list1{
	color: #888;
	font-size: 15px;
	font-weight: bolder;
	line-height: 2;
	height: 100px;
	position: relative;
}

.list2{
	color: #888;
	font-size: 15px;
	font-weight: bolder;
	line-height: 2;
	height: 200px;
	position: relative;
}

.ulist1{
	list-style-type: none;
	position: absolute;
	bottom: 25px;
}

.ulist2{
	list-style-type: none;
	position: absolute;
	bottom: 40px;
}

.info_box1{
	width: 1275px;
	border: 1px solid #888;
	margin-bottom: 100px;
}

.box_title1{
	border-bottom: 1px solid #888;
	padding: 20px;
}

.box_info1{
	height: 150px;
}

.iw_btn{
	font-size: 15px;
	font-weight: bolder;
	color: #fff;
	background: linear-gradient(325deg, #ffcd19, #ff5345);
	border: none;
	border-radius: 20px;
	width: 110px;
	height: 30px;
}

#iw_btn{
	font-size: 15px;
	font-weight: bolder;
	color: #fff;
	background: linear-gradient(325deg, #ffcd19, #ff5345);
	border: none;
	border-radius: 20px;
	width: 110px;
	height: 30px;
}

#iw_exbtn{
	display: flex;
}

#sales {
	position: absolute;
	left: 250px;
	bottom: 30px;
	width: 150px;
	height: 30px;
	border-radius: 20px;
	font-size: 15px;
}
.ul_list{
	list-style-type: none;
}

.another_Books {
	margin-right: 20px;
}