/* * {margin:0; padding: 0; box-sizing: border-box;} */
ul,li { list-style: none;}
.main_all{
    margin: auto;
    width: 1280px;
}

/* .main_event{
    width: 1280px;
    margin: auto;
} */

/* .main_event .banner .banner_bg{
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
} */

.slidbox{
    margin: auto;
    text-align: center;
    width: 1000px;
    padding: 0px;

}

.slidbox .slidelist{
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    padding: 0px;
}

.slidbox .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transform: all .35s;
}

.slidbox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

/* .slidbox .slidelist .slideitem img{
    object-fit: cover;
} */

label.left{
    left: 20px;
    background-image: url(../img/clean.jpg);
    background-color: blue;
    background-size: 50%;
    background-repeat: no-repeat;
}

label.right{
    right: 20px;
    background-image: url(../img/clean.jpg);
    background-color: violet;
    background-size: 50%;
    background-repeat: no-repeat;
}

@keyframes slide01{
    0% {left: 0%;}
    31% {left: 0%;}
    33% {left: -100%;}    
    64% {left: -100%;}
    66% {left: -200%;}    
    98% {left: -200%;}
    100% {left: 0%;}
}

@keyframes slide02{
    0% {left: 0%;}
    31% {left: 0%;}
    33% {left: -100%;}    
    64% {left: -100%;}
    66% {left: 200%;}    
    98% {left: 200%;}
    100% {left: 0%;}
}

@keyframes slide03{
    0% {left: 0%;}
    31% {left: 0%;}
    33% {left: 100%;}    
    64% {left: 100%;}
    66% {left: 200%;}    
    98% {left: 200%;}
    100% {left: 0%;}
}

[id="slide01"]:checked ~ .slidelist .slideitem {transform: translateX(0); animation:slide01 10s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform: translateX(-100%); animation: slide02 10s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform: translateX(-200%); animation: slide03 10s infinite;}

.best_book{
    /* float: left; */
    width: 390px;
}

.new_book{
    float: left;
}

.best_book img{
    display: block;
    width: 150px;
}

.new_book img{
    margin-right: 20px;
    float: left;
    width: 150px;
    /* clear: both; */
}

.text{
    font-size: 20pt;
    text-align: center;
}

.noticeboard{
    float: right;
}
