/* * {margin:0; padding: 0; box-sizing: border-box;} */
ul,li { list-style: none;}
.main_all{
    margin: auto;
    width: 1280px;
}

.slidbox input{

}

.background-img{
    width: 1280px;
    
    background-image: url(../img/img.3.jpg);
    opacity: 0.5;
}

.slidbox{
    margin: auto;
    text-align: center;
    width: 1000px;
    padding: 0px;

}

.slidbox .slidelist{
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    padding: 0px;
}

.slidbox .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transform: all .35s;
}

.slidbox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

label.left{
    left: 20px;
    opacity: 0.5;
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
}

label.right{
    right: 20px;
    opacity: 0.5;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
}

@keyframes slide01{
    0% {left: 0%;}
    31% {left: 0%;}
    33% {left: -100%;}    
    64% {left: -100%;}
    66% {left: -200%;}    
    98% {left: -200%;}
    100% {left: 0%;}
}

@keyframes slide02{
    0% {left: 0%;}
    31% {left: 0%;}
    33% {left: -100%;}    
    64% {left: -100%;}
    66% {left: 200%;}    
    98% {left: 200%;}
    100% {left: 0%;}
}

@keyframes slide03{
    0% {left: 0%;}
    31% {left: 0%;}
    33% {left: 100%;}    
    64% {left: 100%;}
    66% {left: 200%;}    
    98% {left: 200%;}
    100% {left: 0%;}
}

[id="slide01"]:checked ~ .slidelist .slideitem {transform: translateX(0); animation:slide01 10s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform: translateX(-100%); animation: slide02 10s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform: translateX(-200%); animation: slide03 10s infinite;}

.best_book{
    /* float: left; */
    width: 390px;
    font-size: 15px;
    text-align: center;
}

.new_book{
    width: 390px;
    font-size: 15px;
    text-align: center;
}

.best_book img{
    display: block;
    width: 150px;
}

.new_book img{
    display: block;
    width: 150px;
}

.bestlist{
    font-size: 30px;
    
}

.newlist{
    font-size: 30px;
}

.contentlist_div{
    width: 640px;
}

.contentlist td{
    padding: 15px;
}

.contentall{
    width: 1280px;
}

.besttext{
    text-align: center;
}

.background-img{
    background-image: url(../img/img.3.jpg);
    opacity: 0.5;
}

a{
    text-decoration-line: none;
    
}

.center-img img{
    width: 400px;
}

.main-center_img{
    display: block;
    text-align: center;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}