@charset "UTF-8";

.all_center{
    margin: auto;
    width: 1280px;
    text-align: center;
}

.td_cen{
    width: 100px;    
}

a{
    text-decoration-line: none;
}

.td_img{
    width: 50px;
    height: 50px;
}
.loginicon{
    width: 50px;
    height: 50px;
}

.fa-cart-shopping{
    width: 37px;
    height: 37px;
    color: black;
}


