.all{
    margin: auto;
   /* padding: 50px;
    padding: 50px 350px 50px 350px;*/
    width: 1280px;
    
}

.pay_teacher{
    margin-top: 40px;
    padding-left: 50px;
}

.pay_info{
    padding-left: 50px;
}

.line{
    border-top: 1px solid black;
}

table{
    border-top: 2px solid black;
    border-left: 1px solid rgb(195, 193, 193);
    border-right:  1px solid rgb(195, 193, 193);
    border-bottom:  1px solid rgb(195, 193, 193);
    border-collapse: collapse;
    width: 600px;
    margin-bottom: 50px;
}

th{
    background-color: #00457e67;
}

th, td{
    border-top: 1px solid rgb(211, 211, 211);
    padding: 15px;
}

#date{
    width: 150px;
    height: 25px;
}

.pay_title{
    font-size: 20px;
    font-weight: 600;
}

.pay_buttons button{
    border: none;
    background-color: transparent;
}

.button_table{
    margin-top: 50px;
    text-align: center;
}

.button_table td{
    border: 2px solid black;
}

.pay_buttons button:hover{
    cursor: pointer;
}

.float{
    position: fixed; 
    right: 55%; 
    top: 120px;
    margin-top: 15px;
    margin-right: -650px;
    text-align:center;
    width: 350px;
    height: 501px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 10px;
}

.float_table{
    background-color: #fff;
    width: 350px;
    height: 300px;
    border-style: hidden;
    border-radius: 10px;
}

.float_table tr{
    height: 70px;
}


.float_table_class td {
    padding: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
}

.float_table_class td{
    text-align: left;
    border: none;
    
}

.float_table_class_title_first{
    font-weight: 700;
    background-color: #00457e67;
    border-top-left-radius: 10px;
}

.float_table_class_title{
    font-weight: 700;
    background-color: #00457e67;
}

td.float_table_class_pay{
    text-align: right;
}

.total{
    font-size: 20px;
    font-weight: 700;
    color: #002b4e;
}

button{   
    width: 150px;
    height: 40px;
    background-color: #00457e;
    border: none;
    border-radius: 5px;
    color: aliceblue;
}

td .pay_confirm:hover{
    cursor: pointer;
}