*{
	margin: 0;
	padding: 0;
}

#blist_view{
	margin: auto;
	width: 1280px;
}

.top_title{
	text-align: left;
	display: block;
	top: 5px;
	position: relative;
	color: #333;
	line-height: 30px;
	font-weight: bold;
}

.top_text{
	text-align: left;
	margin-top: 10px;
	font-size: 15px;
	color: #737373;
	font-weight: bold;
}

body{
	font-family: '맑은 고딕';
}

.list_tab{
	text-align: center;
	margin-top: 20px;
}

.blist-home{
	font-size: 16px;
	width: 200px;
	height: 50px;
	border-radius: 20px;
	border: none;
	color: #fff;
	background: linear-gradient(325deg, #ffcd19, #ff5345);
}

.book_cate{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.book_cate input{
	height: 38px;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	color: #737373;
	border-style: none;
}

.book_cate input:hover, active{
	height: 38px;
	background: linear-gradient(325deg, #ffcd19, #ff5345);
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 120px;
}

.btn_change{
	text-align: right;
	margin-top: 20px;
}

.book_search{
	text-align: center;
	margin-top: 20px;
	margin: 40px auto;
	max-width: 540px;
	width: calc(100%-20px);
	border: 3px solid #737373;
	border-radius: 100px;
	display: flex;
	align-items: center;
	height: 50px;
	overflow: hidden;
}

.book_search #s_bar{
	outline: none;
	border: 0;
	height: 48px;
	max-width: 500px;
	margin-left: 20px;
	width: calc(100%-20px);
	font-size: large;
}

.d_btn{
	background-color: white;
	border: 0;
	cursor: pointer;
	margin-right: 10px;
}

.s_btn{
	background-color: gray;
	width: 80px;
	height: 50px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}

.left{
	margin-left: 20px;
}

.li_type{
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	cursor: pointer;
	margin: auto;
}

.tn_type{
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	cursor: pointer;
	margin: auto;
}

.book_list{
	width: 400px;
	height: 300px;
	border: 1px solid #ddd;
	margin: 12px;
	cursor: pointer;
	float: left;
}
.book_list:hover,
.active {
	border: 1px solid #00457E;
}

.book_info{
	width: 360px;
	height: 280px;
	margin: 10px 20px;
}

.book_img{
	margin-top: 15px;
	width: 180px;
	height: 250px;
	float: left;
	filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.35));
}

.b_img{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.book_info_list{
	margin-left: 10px;
	float: left;
}

.info_title{
	width: 165px;
	height: 60px;
	margin-top: 15px;
}

.info_list{
	width: 165px;
	height: 195px;
	position:relative;
}
	
.info_list2{
	position: absolute;
	bottom: 10px;
}

.A_view{
	margin-bottom: 100px;
}

.booklist-title-font{
	font-size: 16px;
	font-weight: bold;
}

.booklist-info-font{
	font-size: 14px;
	font-weight: bold;
	color: black;
}

th {
	text-align: left;
	font-size: 15px;
	color: #737373;
	line-height: 2;
	padding-right: 5px;
}