/*
가로크기 1280px로 변경
컬러 파레트 사용
차트 등 라이브러리 사용
차트 애니메이션(미정)
버튼 토글
*/
/*-------------------------div style----------------------------------------------*/
.div_card {
	/*position: relative;
	display: flex;
	flex-direction: column;*/
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e3e6f0;
	border-radius: .35rem;
	margin-top: 15px;
}


.div_shadow {
	box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important
}
.div_card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem
}



.div_card-header:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}
.div_card-header {
    padding: 0.20rem 1.0rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}
.font-weight-bold {
    font-weight: 700 !important;
    font-size:20px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.text-primary {
    color: #00457E !important;
}
/*----------------------------class_home_center_home_top.jsp--------------------------*/
.navbar{
	height: 4.375rem;
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
	padding: 0.5rem 1rem;
	margin-left: 10px;
	
}

.text_fff{
	color: #fff;
	
}
/*----------------------------class_home_Include.jsp-------------------------------------*/

html,
body {
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	background-color: rgb(232, 232, 232)


}

.main_f {
	
	width: 1280px;
	height: 100%;
	margin: auto;
	background-color: #fff;

}

table,
td,
th,
ul,
li,
div,
button{
	margin: 0;
	padding: 0;
}


/*----------------------------class_home_top.jsp-------------------------------------*/
.class_home_top {
	width: 100%;
	height: 80px;
	display: block;
	/*border-bottom: 1px solid rgb(192, 192, 192);*/
	background-color: #00457E;
}

.logo_div {
	display: inline-block;
	width: 180px;
	margin-top: 10px;
	margin-left: 80px;
	height: 80px;


}

#logo {
	max-width: 100%;

}

.Exit_div {
	display: inline-grid;
	width: 80px;
	height: 100%;
	float: right;
	/*border-left: 1px solid rgb(192, 192, 192);*/
}

#Exit {
	max-width: 50%;
	margin: 7px;
}

/*----------------------------class_home_left.jsp-------------------------------------*/
.sidebar_list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar {
	height: 100%;
}

.CH_list {
	height: 50px;
	line-height: 50px;
	border: none;
	display: inline;
	width: 200px;
	background-color: #fff;
}

.CH_list:hover,
.active {
	background-color:#00457E;
	color: #fff;

}

/*.list>a{
	text-decoration: none;
	color:  rgb(31, 90, 252);
	font-weight: bold;
}*/
/*.list>a:hover {
	color: #fff;
}*/

/*----------------------------class_home_center_home.jsp-------------------------------------*/
.gray {
	/*background-color: rgb(230, 230, 230);*/
	
	padding: 15px;
}

/*.con_grade_status_div,
.con_TW {
	background-color: #fff;
	border-radius: 25px;
	margin-bottom: 15px;
	padding: 5px;
}*/

.color_div {

	background-color: #00457E;
	width: 10px;
	height: 25px;
	display: inline-block;

}

.headline_top_table {
	width: 100%;
}

.headline {
	/*border-left: 1px solid rgb(192, 192, 192);*/
	/*border-bottom: 1px solid rgb(192, 192, 192);*/
}

.blue_btn {
	height: 40px;
	width: 80px;
	color: white;
	border: 1px solid #00457E;
	background-color: #00457E;
	border-radius: 20px;
	font-size: 15px;
}
.WTT_Completion_div{
	border: 2px solid #ff5345;
	border-radius: 20px;
	width: 80px;
	display: inline-block;
}
.WTT_Completion{
	color: #ff5345;
}
.class_home_center_home_Table{
	width: 800px;
	padding: 5px;
}

.class_home_center_home_Table td{
	padding: 5px;
}


.GS_table {
  border-collapse: collapse;
  width: 800px;
  margin: 1rem auto;
  border: 1px solid #000;
  background-color: white;
}

/* 테이블 행 */
.GS_table th, .GS_table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

.GS_table th {
  background-color: #00457E;
  color: #fff;
}
.grade_status{
	
	text-align: center;
}
/*----------------------------class_home_center_test.jsp-------------------------------------*/

.con_test{
	width: 900px;
}
.con_test_title{
	width: 900px;
}
/*.con_test_title>p{
	text-align: left;
	width: 1000px;
	text-align: left;
}*/


/*----------------------------class_home_center_home_video.jsp-------------------------------------*/

.line{
	border-top: 1px solid black;
	margin-bottom: 40px;
}

.video{
	margin: auto;
	width: 900px;
	height: 500px;

}

.video_title{
	margin-top: 20px;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}

.video_out{
	margin-right: 200px;
	float: right;
	width: 100px;
	height: 40px;
}





/*----------------------------도넛 그래프(임시)-------------------------------------*/
.chart-container{
	display:  flex;
	gap: 15px;
	margin-bottom: 20px;
	padding: 10px;
}
.chart_d{
	position: relative;
	width: 160px;
	height: 160px;
	border-radius: 50%;
}
.chart-center{
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	transform: translate(-50%,-50%);
}
/*----------------------막대그래프(임시)---------------------------------*/
.progress-bar {
	width: 100%;
	height: 30px;
	background-color: #dedede;
	font-weight: 600;
	font-size: 0.8rem;
}

.progress-bar .progress {
	width: 72%;
	/*나타내고자 하는 퍼센트 값을 넣으면 됩니다.*/
	height: 30px;
	padding: 0;
	text-align: center;
	background-color: #FFCD19;
	color: #111;
}

.progress-bar_div {
	width: 300px;
}

/*-----------------------------------------------------------------*/

.chart_div {
	width: 200px;
	height: 200px;
	display: inline-block;
}

.GS_table_div {
	display: inline-block;
}