body {
	background-color: lightgray;
	height : 750px;
	margin : 0;
}

/* 상단 로고 위치할 곳 */
div.logo_space {
	display : flex;
	justify-content: space-between;
	width : 700px;
	height : 60px;
	background-color : white;
	margin : 0 auto 60px;
	border-bottom-left-radius : 8px;
	border-bottom-right-radius : 8px;
}

/* 이미지크기가 공간에 맞춰지도록 설정 */
.logo_space input.logo {
	width: 200px;
    height: 60px;
    background-image: url(../img/멘토스_로고1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color : transparent;
    border : none;
}

.logo_space input:hover {
    cursor : pointer;
}

input[name="find_id_button"] {
	width : 150px;
	height : 60px;
	background-color : transparent;
	border : none;
}

input[name="find_password_button"] {
	width : 150px;
	height : 60px;
	background-color : transparent;
	border : none;
}

input[name="find_id_button"]:hover {
	border : 1px solid lightgray;
}

input[name="find_password_button"]:hover {
	border : 1px solid lightgray;
}

input[name="find_id_button"]:focus {
	box-shadow : 2px 2px 5px 4px gray inset;
}

input[name="find_password_button"]:focus {
	box-shadow : 2px 2px 5px 4px gray inset;
}

div.container { /*전체 영역*/
	width : 700px;
	max-height : 1600px;
	margin : auto;
	border : 1px solid gray;
	padding-bottom : 30px;
	border-radius : 8px;
	box-shadow: 4px 4px 5px 0px gray;
	background-color : white;
}

/* 간판 공간 */
div.find_password_space {
	width : 700px;
	height : 110px;
}

div.find_password_title {
	width : 300px;
	height : 90px;
	font-size : 40px;
	color : black;
	border-top : 3px solid black;
	border-bottom : 3px solid black;
	margin: 30px auto;
	background-color : transparent;
	border-left : none;
	border-right : none;
	text-align: center;
	line-height: 85px;
}

/* 아이디 작성  */
div.id { 
	color: black;
	font-size : 17px;
	padding-bottom : 5px;
	padding-left : 40px;
	font-weight : bold;
}

/* 성명 작성  */
div.name { 	
	color: black;
	font-size : 17px;
	padding-bottom : 5px;
	padding-left : 40px;
	font-weight : bold;
}

/* 전화번호 작성 */
div.tel {
	color : black;
	font-size: 17px;
	margin-top : 10px;
	padding-bottom : 5px;
	padding-left : 40px;
	font-weight : bold;
}

/*성명과 전화번호 작성하는 상자 공간 여백*/
.body { 
	margin-top : 70px;
	margin-bottom : 40px;
	margin-left : 10%;
	margin-right : 10%;	
}

.input_id {
	display : flex;
	align-items : center;
	padding-left : 40px;
	margin-bottom : 5px;
}

.input_name {
	display : flex;
	align-items : center;
	padding-left : 40px;
	margin-bottom : 5px;
}

.input_tel {
	display : flex;
	align-items : center;
	padding-left : 40px;
	margin-bottom : 5px;
}

input[type=text] {
	border-width : 0 0 1px;
	width : 450px;
	height : 60px;
	border-radius : 7px;
	font-size : 20px;
}

input[type=text]:focus{
	outline : 1px solid rgb(175, 175, 175);
	transition: 0.3s;
}

input[type=submit] {
	width : 300px;
	height : 50px;
	font-size : 25px;
	color : white;
	background-color : #00457E;
	border-width : 0px 0px 1px;
	border : 1px solid gray;
	box-shadow : 3px 3px 2px #002c7e;;
	border-radius : 8px;
}

input[type=submit]:hover {
	font-size : 26px;
}

input[type=submit]:focus {
	font-size : 24px;
}

input.cancel {
	width : 300px;
	height : 50px;
	font-size : 25px;
	background-color : white;
	border: 1px solid black;
	border-radius : 8px;
}

input.cancel:hover {
	font-size : 26px;
}

input.cancel:focus {
	font-size : 24px;
}