
#bannerimg{
    position: absolute;
    z-index: 1;
    height: 512px;
    width: 1280px;
    animation: fadein 2s ease 1s;
    -webkit-animation: fadein 1s;
    opacity: 0.4;
    filter: blur(10px);
}

#bannerimg img{
    width: 100%;
}

.imgmain{
    position: absolute;
    z-index: 2;
    width: 1000px;
    height: 400px;
    margin-top: 56px;
    margin-left: 140px;
    animation: fadein 2s ease 1s;
    -webkit-animation: fadein 1s;
}

.allimg{
    margin: auto;
    width: 1280px;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

