.C-main{
    margin: auto;
    text-align: center;
    width: 1280px;
}

.C-eventList{
    position: absolute;
    margin: auto;
    width: 1280px;
    height: 400px;
    overflow: hidden;
    border-radius: 120px 10px 0px 10px;
    /* background-color: cadetblue; */
}

/* 
.C-backimg{
    position: absolute;
    z-index: 1;
    height: 512px;
    width: 1280px;
    animation: fadein 2s ease 1s;
    -webkit-animation: fadein 1s;
    opacity: 0.4;
    filter: blur(10px);
} */

/* 
.C-backimg img{
    width: 100%;
}
 */

.C-mianimg{
    float: left;
    position: absolute;
    z-index: 1;
    width: 1280px;
    height: 400px;
    /* margin-left: 140px; */
    margin-left: -140px;
    animation: fadein 2s ease 1s;
    -webkit-animation: fadein 1s;
}

.login-circle{
    position: absolute;
    z-index: 2!important;
    margin-left: 830px;
    width: 450px;
    height: 400px;
    border-radius: -150px -10px -120px -10px;
    background-color: white;
    /* opacity: 1 !important; */
    /* filter: blur(0px)  !important; */
}

.circle-login{
    margin-top: 120px;
}

.input-id{
    width: 180px;
    height:27px;
    border-radius: 5px;
    font-size: 20px;
}

.input-pw{
    width: 180px;
    height:27px;
    border-radius: 5px;
    font-size: 20px;
}

.blue_btn {
    height: 40px;
    width: 260px;
    color: white;
    border: 1px solid #00457E;
    background-color: #00457E;
    border-radius: 20px;
    font-size: 15px;
    margin: 2px;
 }


/*
아마 안 쓸거 같음 
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
 */

.C-table{
    /* position: relative; */
    padding-top: 550px;
}

.C-contentTable{
    width: 1280px;
}

.C-list_div{
    width: 640px;
}

.contentlist td{
    padding: 15px;
}

a{
    text-decoration-line: none;
}

.bestlist{
    font-size: 30px;   
}

.best_book{
    /* float: left; */
    width: 390px;
    font-size: 15px;
    text-align: center;
}

.best_book img{
    display: block;
    width: 150px;
}

.newlist{
    font-size: 30px;
}

.new_book{
    width: 390px;
    font-size: 15px;
    text-align: center;
}

.new_book img{
    display: block;
    width: 150px;
}

.besttext{
    text-align: center;
}

.C-classlist{
    text-align: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.list-img img{
    width: 400px;
}

