

div.list{	
	
	}
tr.view{
	color: navy;
}

.view>#number{
	width: 13%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.view>#category{
	width: 15%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}
.view>#title{
	width: 30%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.view>#writer{
	width: 13%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.view>#date{
	width: 15%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.view>#state{
	width: 10%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

table.list_tbl{	
	width: 1080px;
	height: 400px;
	margin: auto;/*가운데 정렬*/
	border-collapse: collapse;
	margin: 1rem auto;
	border: 1px solid #000;
	background-color: white;
	}
.number1>#num{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.number1>#cate{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.number1>#tit{
	width: 30%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.number1>#wt{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.number1>#dt{
	width: 15%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.number1>#st{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    color: #4caf50;
    background-color: white;
   /* border-radius: 20px;
    border: 1px solid #4caf50;*/
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}
.bordergreen{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
	
}

.category1>#num2{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
	
}

.category1>#cate2{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.category1>#tit2{
	width: 30%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.category1>#wt2{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.category1>#dt2{
	width: 15%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.category1>#st2{
	width: 10%;
	text-align: center;
    height: 38px;
    color: #bdbdbd;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;

}

.bordergrey{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #bdbdbd;
}

.title1>#num3{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.title1>#cate3{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.title1>#tit3{
	width: 30%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.title1>#wt3{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.title1>#dt3{
	width: 15%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.title1>#st3{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    border-radius: 20px;
    background-color: white;
    color: #4caf50;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
    

}

.bordergreen2{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.writer1>#num4{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.writer1>#cate4{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.writer1>#tit4{
	width: 30%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.writer1>#wt4{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.writer1>#dt4{
	width: 15%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.writer1>#st4{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    border-radius: 20px;
    background-color: white;
    color: #4caf50;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;

}

.bordergreen3{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}
.date1>#num5{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.date1>#cate5{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.date1>#tit5{
	width: 30%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.date1>#wt5{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.date1>#dt5{
	width: 15%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.date1>#st5{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    border-radius: 20px;
    background-color: white;
    color: #4caf50;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;

}

.bordergreen4{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.state1>#num6{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.state1>#cate6{
	width: 15%;
	text-align: center;
	color: steelblue;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.state1>#tit6{
	width: 30%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.state1>#wt6{
	width: 13%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.state1>#dt6{
	width: 15%;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.state1>#st6{
	width: 10%;
	text-align: center;
    height: 38px;
    background: #4caf50;
    border-radius: 20px;
    background-color: white;
    color: #4caf50;
    padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}

.bordergreen5{
	height: 30px;
	border-radius: 20px;
    background-color: white;
    border: 1px solid #4caf50;
}
.hr{
	width: 1080px;
}

.title{
	text-align: center;
}

.w_btn_div{
	width: 1080px;
}

.search{
	background-color: gray;
	width: 80px;
	height: 40px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}


.sc {
	position: absolute;
	top: 0px; 
	right:50px;
	width : 390px;
	height: 36px;
	padding: 0 60px 0 15px;
	background: #fafafa;
	margin-bottom: 5px;
	width: 390px;
	
}

#searchInput {
	height: 40px;
	width: 560px;
	position: relative;
	margin: auto;
}

.search {
	right:8px;
	position: absolute;
	top: 0px;
	background-color: gray;
	cursor: pointer;
	margin-left: 10px;
	/*position: absolute;
    right: 20px;
    top: 8px;*/
	width: 40px;
	height: 40px;
	border: none;
	
}

.blue_btn {
    height: 40px;
    width: 80px;
    color: white;
    border: 1px solid #00457E;
    background-color: #00457E;
    border-radius: 20px;
    font-size: 15px;
    margin-left:1650px;
}


