

div.list{	
	
	}
tr.view{
	color: navy;
}

.view>#number{
	width: 13%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
}


.view>#title{
	width: 30%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	border: 1px solid #ddd;
	text-align: center;
}

.view>#date{
	width: 15%;
	background-color: #00457E;
	color: #fff;
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
	text-align: center;
	;
}


table.list_tbl{	
	width: 1080px;
	margin: auto;/*가운데 정렬*/
	border-collapse: collapse;
	margin: 1rem auto;
	background-color: white;
	}

.number1{
	height: 50px;
    text-align: center;
}

.number1>td{
	
}
.number1>#num{
	
	text-align: center;
}


.number1>#tit{
	
	text-align: center;
	cursor: pointer;
}



.number1>#dt{
	
	text-align: center;
}



}
.hr{
	width: 1080px;
}

.title{
	text-align: center;
}

#w_btn{

    border-radius: 30px;
    background-color: greenyellow;
    width: 130px;
    height: 40px; 
    font-size: 17px;
    margin-left: 1360px;
	
}
.w_btn_div{
	width: 1080px;
}

.search{
	background-color: gray;
	width: 80px;
	height: 40px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}


.sc {
	position: absolute;
	top: 0px; 
	right:50px;
	width : 390px;
	height: 36px;
	padding: 0 60px 0 15px;
	background: #fafafa;
	margin-bottom: 5px;
	width: 390px;
	
}

#searchInput {
	height: 40px;
	width: 560px;
	position: relative;
	margin: auto;
}

.search {
	right:8px;
	position: absolute;
	top: 0px;
	background-color: gray;
	cursor: pointer;
	margin-left: 10px;
	/*position: absolute;
    right: 20px;
    top: 8px;*/
	width: 40px;
	height: 40px;
	border: none;
	
}

#blue_btn {
    height: 40px;
    width: 80px;
    color: white;
    border: 1px solid #00457E;
    background-color: #00457E;
    border-radius: 20px;
    font-size: 15px;
    margin-left:1120px;
}

.m_btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
}

.bottom_move_btn {
    text-align: center;
}

#num{
	padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#tit{
	padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#dt{
	padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}