/* 전체 틀 크기 */
body {
	width : 1200px;
	border : 1px solid black;
	margin : auto;
}

table.password_change_table {
	width : 800px;
	border : 1px solid black;
	margin : 30px;
	box-shadow: 4px 4px 5px 0px #ffefb5;
	background-color : #fffbee;
	border-radius : 8px;
}

/* "비밀번호 변경" 간판 설정 */
.password_change_h1 {
	width : 300px;
	height : 100px;
	font-size : 45px;
	text-align : center;
	margin : auto;
	background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
	background-clip : text;
	color: transparent;
	margin-top : 30px;
}

/* 비밀번호 변경 부가 설명 글 설정 */
.password_change_div{
	width : 350px;
	height : 40px;
	text-align : center;	
	font-size : 15px;
	color : gray;
	margin : auto;
	margin-bottom : 60px;
}

/* 비밀번호 입력칸들 크기 설정 */
input.password_change_input {
	margin-top : 10px;
	width : 600px;
	height : 70px;
	font-size : 20px;
	padding-left : 10px;
	border-radius : 5px;
	border-width : 0px 1px 1px 0px;
}


input.password_change_input:focus {
	outline : 1px solid rgb(175, 175, 175);
	transition: 0.3s;
}

/* 취소 및 확인버튼 설정 */
.password_change_cancel, .password_change_submit {
	margin-top : 20px;
	margin-bottom : 20px;
	width : 270px;
	height : 60px;
	border-radius : 30px;
	font-size : 20px;
}

/* 취소 및 확인 버튼 호버 및 포커스 설정 */
.password_change_cancel {
	background-color : white;
	margin-right : 30px;
}

.password_change_cancel:hover {
	font-size : 22px;
}

.password_change_cancel:focus {
	box-shadow : 2px 2px 2px 4px #d8d8d8 inset;
}

.password_change_submit {
	background-color : #c4ffca;
	margin-left : 30px;
}

.password_change_submit:hover {
	font-size : 22px;
}

.password_change_submit:focus {
	box-shadow : 2px 2px 2px 4px #33d644 inset;
}